<h1>Open Pull Request Data</h1>

<table id="open_prs" class="table table-striped" width="100%">
  <thead><tr align="left">
    <th>Repo</th>
    <th>ID</th>
    <th>Author</th>
    <th>Open Time<br/><sup>(hours)</sup></th>
  </tr></thead>

  <tbody>
  <% pr_data.each {|pr| %>
      <tr>
        <td><%= link_to pr[:repo], PullRequestHelper.github_pr_path(pr[:repo],pr[:id]) %></td>
        <td><%= link_to pr[:id], PullRequestHelper.github_pr_path(pr[:repo],pr[:id]) %></td>
        <td><%= pr[:author] %></td>
        <td><%= (Time.now - Time.parse(pr[:created_at])).to_i / 3600 %></td>
      </tr>
  <% } %>
  </tbody>
</table>

<script>
    $(document).ready(function(){
        $('#open_prs').DataTable({
            fixedHeader: true,
            bInfo : false,
            colReorder: true,
            rowReorder: true,
            responsive: true,
            "bPaginate": false
        });
    });
</script>
